.give{
    width:100%;
    height:170px;
    border-radius:10px;
    -webkit-box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.67); 
box-shadow: 0px 0px 16px -8px rgba(0,0,0,0.67);
}
.giveWrap{
    padding:10px;
}
.giveTop{
    display:flex;
    align-items: center;
}
.giveDisplayImg{
    width:50px;
    height:50px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}
.giveInput{
    border:none;
    width:80%;
}
.giveInput:focus{
    outline:none;
}
.giveHr{
    margin:20px;
}
.giveBottom{
    display:flex;
    align-items:center;
    justify-content:space-around;
}
.giveOptions{
    display:flex; 
    align-items: center;
    margin-right: 15px;
    cursor: pointer; 
}
.giveOptionText{
    font-size:14px;
    font-weight: 500;
}
.giveButton{
    border:none;
    padding:7px;
    border-radius:5px;
    background-color: green;
    font-weight: 500;
    margin-right:20px;
    cursor:pointer;
    color:#ffffff
}